@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* INLINE COMMENTS */
.published-note .inline-comment {
    color: lightgray;
}

.published-note .inline-comment .inline-comment-content {
    color: gray;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.published-note .inline-comment:hover .inline-comment-content {
    display: inline;
    opacity: 1;
}

.published-note .inline-comment::before {
    content: "%";
    color: dark-gray;
}

.published-note .inline-comment::after {
    content: "%";
    color: dark-gray;
}


/* LISTS */
.published-note ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.published-note ul li {
    margin-left: 2rem;
}

.published-note ul li::before {
    content: "\2022";
    color: #ED8936;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.published-note ol li {
    counter-increment: li;
    margin-left: 2rem;
}

.published-note ol li::before {
    content: "." counter(li);
      color: #ED8936;
      font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl
}


/* TASKS */
.published-note li.task span.scheduled {
    color: #aaa;
    display: inline-block;
    margin-left: 0.8rem;
}

.published-note li.task::before {
    content: none;
}
.published-note li.task {
    list-style-image: none;
    list-style-type: none;
    background: url('/icons/circle.png') no-repeat 0 4px;
    background-size: 16px 16px;
    padding-left: 25px;
    margin-left: 8px;
}

.published-note li.task.level1 {
    margin-left: 32px;
}
.published-note li.task.level2 {
    margin-left: 56px;
}
.published-note li.task.level3 {
    margin-left: 80px;
}
.published-note li.task.level4 {
    margin-left: 104px;
}
.published-note li.task.level5 {
    margin-left: 128px;
}
.published-note li.task.level6 {
    margin-left: 152px;
}
.published-note li.task.level7 {
    margin-left: 176px;
}

.published-note li.task.completed {
    background-image: url('/icons/check-circle.png');
    color: #81A188;
}

.published-note li.task.canceled {
    background-image: url('/icons/x-circle.png');
    color: #CFD0FF;
}

.published-note li.task.checklist {
    background-image: url('/icons/square.png');
}
.published-note li.task.checklist.completed {
    background-image: url('/icons/check-square.png');
}
.published-note li.task.checklist.canceled {
    background-image: url('/icons/x-square.png');
}


/* QUOTES */
.published-note .quote0 {
    margin-left: 14px;
}
.published-note .quote1 {
    margin-left: 38px;
}
.published-note .quote2 {
    margin-left: 62px;
}
.published-note .quote3 {
    margin-left: 86px;
}
.published-note .quote4 {
    margin-left: 110px;
}
.published-note .quote5 {
    margin-left: 134px;
}
.published-note .quote6 {
    margin-left: 158px;
}
.published-note .quote7 {
    margin-left: 182px;
}


/* TABLES */
.published-note table {
    margin: 16px 0;
    min-width: 100%;
}

.published-note table th {
    border-width: 1px;
    padding: 4px 8px;
    background-color: #fafafa;
    text-align: left;
    color: #888;
}

.published-note table td {
    border-width: 1px;
    padding: 4px 8px;
}
